<main class="m-auto my-5 w-[400px] flex flex-col gap-3">
  <section class="flex flex-col gap-2 border border-zinc-700 p-5 rounded-xl">
    <h1 class="text-2xl font-bold">URL Shortener</h1>
    <form class="flex flex-col gap-2"[formGroup]="urlForm" (ngSubmit)="onSubmit()">
      <input class="border border-zinc-700 w-full rounded-lg px-2 py-1" placeholder="Enter long url here" formControlName="url"/>
      @if(urlForm.get('url')?.hasError('required') && urlForm.get('url')?.touched) {
        <p class="text-red-400 text-sm">URL is required.</p>
      }
      @if(urlForm.get('url')?.hasError('pattern') && urlForm.get('url')?.touched) {
        <p class="text-red-400 text-sm">Please enter a valid URL.</p>
      }
      <button class="bg-zinc-100 text-zinc-950 py-2 rounded-lg cursor-pointer hover:bg-zinc-200 disabled:opacity-50 disabled:hover:bg-zinc-100 disabled:cursor-not-allowed"
        type="submit"
        [disabled]="urlForm.get('url')?.hasError('required') || urlForm.get('url')?.hasError('pattern')"
        >Shorten URL</button>
    </form>
  </section>
  <section class="flex flex-col gap-2">
    @for(link of links$ | async; track $index) {
    <article class="border border-zinc-700 p-3 rounded-xl">
      <header class="flex justify-between">
        <h3 class="font-bold cursor-pointer"
            (click)="copyToClipboard(hostUrl, link.id)"
          >{{hostUrl | truncate:30}}/{{link.id}} <i-feather name="copy" class="w-[16px]! h-[16px]!"></i-feather></h3>
        <a class="bg-zinc-800 px-2 pt-1 rounded border border-zinc-700 cursor-pointer hover:bg-zinc-700 hover:border-zinc-600 transition-colors"
           [href]="'/'+link.id"
           target="_blank"
          ><i-feather name="external-link" class="w-[16px]! h-[16px]!"></i-feather></a>
      </header>
      <div class="flex justify-between">
        <div>
          <h4 class="text-sm text-zinc-400">Original Link</h4>
          <p>{{link.url | truncate:30}}</p>
        </div>
        <div class="flex flex-col items-center">
          <h4 class="text-sm text-zinc-400">Clicks</h4>
          <p>{{link.clicks}}</p>
        </div>
        <div class="flex flex-col items-center">
          <h4 class="text-sm text-zinc-400">Expiration Date</h4>
          <p>{{link.expiredAt | formatDate}}</p>
        </div>
      </div>
    </article>
    }
  </section>
</main>
